@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0px;
}

body {
    display: flex;
    height: 100%;
}

header {
    display: flex;
    flex-direction: column;
    width: 35vw;
    height: auto;
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    width: fit-content;
    height: 100%;
    background-color: #F9FAFB;
    padding-top: 150px;
    font-family: 'Lato', sans-serif;
}

#title {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 180px;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.692);
}

h1 {
    font-family: 'Amatic SC', cursive;
    color: white;
    font-size: 90px;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    align-items: center;
}

#img-logo {
    width: 105px;
}

footer {
    color: white;
    margin-top: auto;
    align-self: center;
}

a {
    color: white;
    text-decoration: underline;
}

form {
    display: flex;
    height: 200px;
}

#first-column, #second-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 60px;
    height: fit-content;
}

#form-div {
    height: fit-content;
    width: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

main > p,
main > div > p {
    padding-left: 30px;
    padding-right: 60px;
    padding-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
}

main > div > p {
    padding-left: 0px;
}

button {
    margin: 30px;
    background-color: #C82714;
    width: 220px;
    height: 50px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    border: none;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
}

label {
    font-size: 15px;

}

input {
    height: 30px;
    width: 250px;
    border: 1px solid rgb(207, 206, 206);
    border-radius: 3px;
}

.focus{
    outline: none;
    border: 1px solid blue;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#password-match {
    font-size: 13px;
    color: red;
}

.error {
    outline:none;
    border: 1px solid red;
}

button ~ p {
    font-weight: normal;
    font-size: 18px;
}

span {
    color:#C82714;
}